<div class="container div-container">
  <form id="contact" [formGroup]="FormBuilder">
    <h3>Formulario de Gustavo</h3>
    <h4>Favor de ingresar los siguientes datos......</h4>

    <fieldset>
        <input formControlName="name" placeholder="Nombre" type="text">
        <div *ngIf="FormBuilder.get('name').invalid && FormBuilder.get('name').touched">
          <p *ngIf="FormBuilder.get('name').getError('required')">*Requerido</p>
        </div>
    </fieldset>

    <fieldset>
        <input formControlName="lastname" placeholder="Apellidos" type="text">
        <div *ngIf="FormBuilder.get('lastname').invalid && FormBuilder.get('lastname').touched">
            <p *ngIf="FormBuilder.get('lastname').getError('required')">*Requerido</p>
        </div>
    </fieldset>

    <fieldset>
        <input formControlName="age" placeholder="Edad" type="text">
        <div *ngIf="FormBuilder.get('age').invalid && FormBuilder.get('age').touched">
            <p *ngIf="FormBuilder.get('age').getError('required')">*Requerido</p>
            <p *ngIf="FormBuilder.get('age').getError('errAge') && FormBuilder.get('age').value != ''">Debes de tener 18 años</p>
        </div>
    </fieldset>

    <fieldset formArrayName="gender">
        <label *ngFor="let gender of getGender(); index as genderIndex;" (click)="onGender()">
            <input [value]="genderIndex" type="radio" name="gender"> {{gender.value}}
        </label>  
    </fieldset>

    <fieldset formArrayName="status">
      <select >
          <option *ngFor="let status of getStatus(); index as Indexstatus;" [value]="Indexstatus">
              {{status.value}}
          </option>
      </select>
  </fieldset>

    <fieldset formArrayName="comments">
        <div *ngFor="let coment of getComments(); let commentIndex = index;">
            <input [formControlName]="commentIndex" [placeholder]="'Comentario'" type="text">
            <button class="remove-button" (click)="onRemove(commentIndex)">QUITAR</button>
        </div>
        <div>
            <button class="add-button" (click)="onAddComment()">Agregar comentario</button>
        </div>
    </fieldset>

    <fieldset>
        <button class="send-button" (click)="onSend()" type="submit" name="submit"  id="contact-submit">Enviar</button>
    </fieldset>

  </form>
</div>