<div class="container div-container">
  <form id="bg" [formGroup]="FormBuilder">
    <h1>Formulario de Gustavo</h1>
    <br>
    <h4>Favor de ingresar los siguientes datos......</h4>

    <fieldset>
        <input formControlName="name" placeholder="Nombre" type="text">
        <div *ngIf="FormBuilder.get('name').invalid && FormBuilder.get('name').touched">
          <p *ngIf="FormBuilder.get('name').getError('required')">*Requerido</p>
        </div>
    </fieldset>

    <fieldset>
        <input formControlName="lastname" placeholder="Apellidos" type="text">
        <div *ngIf="FormBuilder.get('lastname').invalid && FormBuilder.get('lastname').touched">
            <p *ngIf="FormBuilder.get('lastname').getError('required')">*Requerido</p>
        </div>
    </fieldset>

    <fieldset>
        <input formControlName="age" placeholder="Edad" type="int">
        <div *ngIf="FormBuilder.get('age').invalid && FormBuilder.get('age').touched">
            <p *ngIf="FormBuilder.get('age').getError('required')">*Requerido</p>
            <p *ngIf="FormBuilder.get('age').getError('errAge') && FormBuilder.get('age').value != ''">Debes de tener 18 años</p>
        </div>
    </fieldset>

    <fieldset formArrayName="gender">
        <label *ngFor="let gender of getGender(); index as Gender;" (click)="onGender()">
            <input [value]="Gender" type="radio" name="gender"> {{gender.value}}
        </label>  
    </fieldset>

    <fieldset formArrayName="status">
      <select >
        <p *ngIf="FormBuilder.get('name').getError('required')">*Requerido</p>

          <option *ngFor="let status of getStatus(); index as Status;" [value]="Status">
              {{status.value}}
          </option>
      </select>
  </fieldset>

    <fieldset formArrayName="comments">
        <div *ngFor="let coment of getComments(); let Comment = index;">
            <input [formControlName]="Comment" [placeholder]="'Comentario'" type="text">
            <button class="remove-button" (click)="onRemove(Comment)">QUITAR</button>
        </div>
        <div>
            <button class="add-button" (click)="onAdd()">Agregar comentario</button>
        </div>
    </fieldset>

    <fieldset>
        <button class="send-button" (click)="onSend()" type="submit" name="submit"  href="http://localhost:4200/"  id="contact-submit">Enviar</button>
    </fieldset>

  </form>
</div>
