
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

h1{
  font:  normal normal bold 38px/54px Arial;
  color: #94A6B3;
  opacity: 1;
}


.container {
  max-width: 700px;
  width: 80%;
  border-radius: 10px;
  margin: 0 auto;
  position: relative;
}


  

#bg {
  background: #fff;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 26px;
}

#bg h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

h4 {
  font:  normal normal bold 16px/24px Arial;
  color: #94A6B3;
  opacity: 1;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 80%;
}

#bg input[type="text"],
#bg textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FDF7F4;
  margin: 0 0 5px;
  padding: 10px;
}

#bg input[type="text"]:hover,
#bg textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
}

#bg button[type="submit"] {
  cursor: pointer;
  width: 100%;
  background: transparent linear-gradient(270deg, #ED8A9C 0%, #F5C4A1 100%) 0% 0% no-repeat padding-box;
  color: #fff;
  margin: 0 0 5px;
  padding: 14px;
  font-size: 15px;
  border-radius: 35px;
  border: none;
}


.add-button {
  cursor: pointer;
  border: none;
  background: transparent linear-gradient(270deg, #C0E292 0%, #E2DF92 100%) 0% 0% no-repeat padding-box;;
  color: #fff;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 12px;
  border-radius: 3px;
  outline: none;
}

.remove-button {
  cursor: pointer;
  border: none;
  background: transparent linear-gradient(270deg, #E2DF92 0%, #C0E292 100%) 0% 0% no-repeat padding-box;;
  color: #fff;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 12px;
  border-radius: 3px;
  outline: none;
}
